.admin-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .operations{
    display: flex;
    flex-direction: column;
  }
  
  .collection {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .collection h3 {
    margin-top: 0;
  }
  
  .sub-products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .sub-product {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .sub-product:hover {
    transform: translateY(-5px);
  }
  
  button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #4caf50;
    color: #fff;
  }
  