
footer{
    background-color: var(--color-232f3e);
  }
  
  footer:nth-of-type(3) {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  footer:nth-of-type(2) {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .input-group-text{
    color: white;
    background-color: var(--color-232f3e);
    padding: 8px 17px;
    text-transform: uppercase;
  }
  
  .footer-links{
    display: flex;
    flex-direction: column;
  }