/* Header Top Strip */
.header-top-strip {
  border-bottom: 1px solid var(--color-3b4149);
  background-color: var(--color-131921);
  padding: 10px 0;
}

.header-top-strip p {
  margin: 0;
  font-size: 14px;
  color: #fff;
}

/* Header Upper */
.header-upper {
  background-color: var(--color-131921);
  padding: 10px 0;
}

.header-upper .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.header-upper .logo img {
  width: 100%;
  max-width: 150px; /* Adjust as needed */
}

.header-upper .search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.header-upper .search-bar input {
  width: 100%;
  max-width: 300px; /* Adjust as needed */
  padding: 8px;
  border-radius: 5px;
  border: none;
}

.header-upper .user-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}
.input-group{
  margin-left: 15%;
}
.header-upper-links a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.header-upper-links {
  display: flex;
  justify-content: flex-end;
  justify-content: space-around;
}

.header-upper-links img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

/* Header Bottom */
.header-bottom {
  background-color: var(--color-232f3e);
  margin-bottom: 2%;
}

.menu-bottom .dropdown button {
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 500;
}

.menu-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.dropdown-menu {
  background-color: var(--color-131921);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 10px 20px;
  font-size: 14px;
}

.dropdown-item:hover {
  background-color: var(--color-febd69);
  color: #232f3e;
}
